* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* TO use Box Model  */
  }
  
  body {
    font-family: "Merriweather", serif;
    background-color: #ebf2ff;
  }

  .button_primary{
    background-image: linear-gradient(
      to right,
      #ff512f 0%,
      #dd2476 51%,
      #ff512f 100%
    );
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
  }

  .container{
    max-width: 100%;
    padding:0 20px;
    margin:0 auto;

  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    height: 60px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  }
  
  .navbar_brand {
    width: 100px;
  }
  
  .navbar_logo {
    width: 100%;
  }
  
  .nav_item {
    background-image: linear-gradient(
      to right,
      #ff512f 0%,
      #dd2476 51%,
      #ff512f 100%
    );
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .nav_item:hover {
    border: 2px solid blue;
  }

  .hero_image_container{
    width: 100%;
    position: relative;
  }
  .hero_image{
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  }
  .hero_svg1{
    position: absolute;
    top: 0;
    left: 0;
    z-index:-3;
    z-index:-4;
    margin-top: -30px;
    
  }
  .hero_svg2{
    position: absolute;
    top: 0;
    left: 0;
    z-index:-3;
    margin-top: -30px;
  }
  
  .hero_text{
    font-size: 30px;
    margin:20px 0;

  }
  
  .explore_menu_text{
    font-size: 30px;
    margin-top: 50px;
    margin-bottom:25px;
    text-align: center;

  }

  .food_card{
    background-color: #fff;
    border: 8px;
    margin-bottom:15px ;
  }


  .food_card_image_container{
    width: 100%;
  }
  .food_image{
    width: 100%;
    border-radius: 8px 8px 0 0;
  }
  .food_card_description{
    padding: 15px;
  }

  /*Flexxxxxx*/
  .restaurant_text{
    font-size: 30px;
    margin-top: 50px;
    margin-bottom:25px;
    text-align: center;

  }
  .restaurant_images_container{
    width: 100%;
    
  }

  .restaurant_images_row_one,
  .restaurant_images_row_two{
    width: 100%;
    display: flex;
    gap:3px;
    
  }
  .restaurant_images_row_one{
    align-items: baseline;
    margin-bottom: 3px;
  }
  .restaurant_image_1,
  .restaurant_image_4{
    width: 100%;
    height:120px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);

  }
  .restaurant_image_2,
  .restaurant_image_3{
    width: 120%;
    height: 200px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);

  }
  
  .restaurant_1,
  .restaurant_2,
  .restaurant_3,
  .restaurant_4{
    width: 100%;
    height: 100%

  }
  .email_subscribe_container{
    margin-top:3rem;
    width:100%;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .email_subscribe_input_field{
    display: flex;
    align-items: center;
  }
  .email_input{
    border:1px solid #ee89a0;
    background-color: #fcedf0;
    color: #1d3557;
    font-weight: 700;
    padding: 0.5rem;
    border-radius: 4px;
  }
  .email_input::placeholder{
    color:#bdbcbc;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem 1rem 0 0;
    background-image: linear-gradient(
      to right,
      #ff512f 0%,
      #dd2476 51%,
      #ff512f 100%
    );
    margin-top: 3rem;
  }
  
  footer > img {
    width: 300px;
    filter: brightness(0) invert(1);
  }
  
  footer > ul {
    margin-top: -1rem;
    color: #fff;
    list-style-type:none;
  }
  
  footer > ul > li {
    margin: 5px 0;
  }
  .quote_container{
    position: relative;
    margin-top: 4rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:200px;
    width:100%;
    border-radius:13px;
    background: url("https://images.unsplash.com/photo-1522336572468-97b06e8ef143?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=755&q=80")
    center center / cover no-repeat;
  }
  .quote_image_overlay{
    position: absolute;
    width:100%;
    height:200px;
    border-radius: 13px;
    background-color:#0a4065;
    opacity:49%;
  }
  .quote_image_text {
    color: #fff;
    z-index: 3;
    margin: 0 1rem;
    text-align: center;
  }
  

  
 
  
 

  @media (min-width: 768px) {
    .navbar {
      justify-content: space-between;
      padding: 2px 30px;
    }
    .hero_container{
      margin-top: 20px;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      margin-bottom: 15%;
    }
    .explore_menu_lists{
      margin-top: 40px;
      display: flex;
      gap:15px;
      padding: 0 30px;
    }
    #pizza_card{
      margin-top:-20px;
      margin-bottom:30px;
    }
    .explore_menu_view_more{
      display: flex;
      justify-content: center;
    }
    .explore_menu_container{
      position:relative;
      margin-bottom: 15%;
    }
    .explore_menu_gradient_bg{
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      background-image: linear-gradient(
      to right,
      #ff512f 0%,
      #dd2476 51%,
      #ff512f 100%
    );
    transform:skewY(-5deg);
    z-index: -3;
    }
    .restaurant_container{
      display: flex;
      align-items: center;
      margin-bottom:20%;
    }
    .restaurant_text
    {
      width:100%;
      font-size: 40px;

    }
    .email_subscribe_container{
      display: flex;
      justify-content: center;
    }
    .email_input{
      width:20rem;
    }
    .quote_container{
      height:300px;
      width:100%;
    }
    .quote_image_overlay {
      position: absolute;
      height: 300px;
      width: 100%;
      border-radius: 13px;
      background-color: #0a4065;
      opacity: 49%;
    }
    .quote_image_text {
      color: #fff;
      z-index: 3;
      margin: 0 1rem;
      text-align: center;
      font-size: 2rem;
      font-weight: 500;
      line-height: 1.2;
    }
    footer{
      margin-top: 3rem;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
    
  }
  
  @media (min-width: 1020px) {
    
    .navbar{
      height:90px;
    }
    .container{
      max-width: 900px;
    }
    .hero_container{
      margin-bottom:18%;
    }
    .explore_menu_container{
      margin-bottom:12%;
    }
    .navbar_brand {
      width: 150px;
    }
    .button_primary {
      padding: 20px;
      font-size: 20px;
    }
    .hero_description{
      width: 100%;
    }
    .hero_text{
      font-size: 50px;
    }
    .explore_menu_lists{
      gap: 40px;
    }
    .explore_menu_text{
      font-size:50px;
    }
    .stay_updated_text{
      padding-left: 375px;
    }
    .text_centered{
      display:flex;
      padding-top: 11%;
      font-size:30px;
      align-items: center;
      justify-content: center;
      padding-left:20px;
      padding-right:20px;
    }
    .restaurant_container{
      margin-bottom:7%;
    }
    
  }

  @media (min-width:1400px) {
    .container{
      max-width: 1250px;
    }
    
  }